#tableroCartas{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

#cartaTras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    position: absolute;
    top:0;
}

#cartaFron{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 0;
    
}

