#carta{
    width: 160px;
    height: 160px;
    display: flex;   
    justify-content: center;
    margin: 20px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 15%;
    
}

.seleccionada{
    opacity:0;
}

.desactivada{
    opacity:0;
}